<header class="header">
    <nav class="nav">
      <h1 class="title">
        <a class="nav-link active">Course Management System</a>
      </h1>
    </nav>
  </header>
  <div>
    <div class="main-content col-12">
        <div class="col-12 mb-2">
            <input type="text" placeholder="username">
        </div>
        <div class="col-12">
            <input type="password" placeholder="password">
        </div>
    </div>
  </div>
<!-- validacija za use i pass preko 5 karaktera i metod za submit -->
<!-- success i error za studenta i teachera -->
<!-- validiraj stanje na formi na studentu i teacheru (TeacherModel -- gender hint) -->