<div *ngIf="studentForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="studentForm">
      <div class="input-group mb-3">
        <input type="text" placeholder="First name" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" name="firstName" formControlName="firstName">
      </div>

      <div class="input-group mb-3">
        <input type="text" placeholder="Last name" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" name="lastName" formControlName="lastName">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid"
      (click)="confirm(studentForm.value)">{{title}}</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>