<div *ngIf="courseForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="courseForm" novalidate>
      
      <div class="input-group mb-3">
        <input 
        [ngClass]="{ 'is-invalid': nameField.touched && nameField.errors }"
        type="text" placeholder="Course name" class="form-control" name="name" formControlName="name">
<!--           <div *ngIf="courseForm.get('name').touched && courseForm.get('name').errors.required">
            Name is required
          </div> -->
          <div *ngIf="nameField.errors" class="invalid-feedback">
            <div *ngIf="nameField.hasError('required')">Name is required</div>
            <div *ngIf="nameField.hasError('minlength')">Must have at least 6 characters</div>
          </div>
      </div>

      <div class="input-group mb-3">
        <input type="text" placeholder="Location" class="form-control" formControlName="location">
      </div>

      <div class="input-group mb-3">
        <input type="text" placeholder="Address" class="form-control" formControlName="address">
      </div>

      <div class="input-group mb-3">
        <input type="text" placeholder="State" class="form-control" formControlName="state">
      </div>

      <div class="input-group mb-3">

      <ng-select [items]="teachers"
                  [selectOnTab]="true"
                  placeholder="Select teacher"
                  bindValue="id"
                  formControlName="teacherId">
                  <ng-template ng-label-tmp ng-option-tmp let-item="item">
                    {{item.firstName}} {{item.lastName}}
                </ng-template>
        </ng-select>
      </div>
      <div class="input-group mb-3">

        <ng-select  
                  [multiple]="true"
                  [items]="students"
                  [selectOnTab]="true"
                  bindValue="id"
                  placeholder="Select student"
                  formControlName="studentIds">
                  <ng-template ng-label-tmp ng-option-tmp let-item="item">
                    {{item.firstName}} {{item.lastName}}
                </ng-template>
        </ng-select>
      </div>

      <div class="input-group mb-3">
        <input type="text"
           placeholder="Start date"
           class="form-control"
           formControlName="startDate"
           value="{{ courseForm.get('startDate').value | date }}"
           bsDatepicker>
      </div>

      <div class="input-group mb-3">
          <input type="text"
             placeholder="End date"
             class="form-control"
             formControlName="endDate"
             bsDatepicker>
        </div>

      <div class="input-group mb-3">
          <textarea type="text" placeholder="Course description" class="form-control" name="description"
            formControlName="description"></textarea>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!courseForm.valid"
      (click)="confirm(courseForm.value)">{{title}}</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>