<div *ngIf="teacherForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="teacherForm">
      <div class="input-group mb-3">
        <input [ngClass]="{ 'is-invalid': firstNameField.touched && firstNameField.errors }" type="text"
          placeholder="First name" class="form-control" name="firstName" formControlName="firstName">
        <div *ngIf="firstNameField.errors" class="invalid-feedback">
          <span *ngIf="firstNameField.hasError('required')">Field is required</span>
        </div> 
      </div>

      <div class="input-group mb-3">
        <input [ngClass]="{ 'is-invalid': lastNameField.touched && lastNameField.errors }" type="text"
          placeholder="Last name" class="form-control" name="lastName" formControlName="lastName">
        <div *ngIf="lastNameField.errors" class="invalid-feedback">
          <span *ngIf="lastNameField.hasError('required')">Field is required</span>
        </div> 
      </div>
      <div class="input-group mb-3">
        <input [ngClass]="{ 'is-invalid': emailField.touched && emailField.errors }" type="email" placeholder="Email"
          class="form-control" formControlName="email">

        <div *ngIf="emailField.errors" class="invalid-feedback">
          <span *ngIf="emailField.hasError('required')">Field is required</span>
          <span *ngIf="emailField.hasError('email')">Invalid email</span>

        </div> 
      </div>
      <div class="group-gap">
        <div class="custom-control custom-radio">
          <input id="male" type="radio" class="custom-control-input" value="male" name="gender"
            formControlName="gender">
          <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
          <input id="female" type="radio" class="custom-control-input" value="female" name="gender"
            formControlName="gender">
          <label class="custom-control-label" for="female">Female</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" placeholder="Phone number" class="form-control" formControlName="phoneNumber">
      </div>
      <div class="input-group mb-3">
        <input type="text" placeholder="Company" class="form-control" formControlName="company">
      </div>
      <div class="input-group mb-3">
        <input [ngClass]="{ 'is-invalid': websiteField.dirty && websiteField.errors }" type="text"
          placeholder="Website" class="form-control" formControlName="website">
        <div *ngIf="websiteField.errors" class="invalid-feedback">
          <span *ngIf="websiteField.hasError('pattern')">Invalid website</span>
        </div> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!teacherForm.valid"
      (click)="confirm(teacherForm.value)">{{title}}</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>