<div class="container">
    <cm-header [title]= "title" (addClicked)="addStudent()"></cm-header>
  <div class="row mb-3 justify-content-end" >
<!--     <div class="col-2">
      <button class="btn btn-outline-primary" (click)="addStudent()">Add New</button>
    </div> -->
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstName}} {{student.lastName}}</td>
            <td>
              <button (click)=editStudent(student) type="button" class="btn btn-outline-info btn-sm">
                Edit
              </button>
              <button (click)=delete(student.id) type="button" class="btn btn-outline-danger btn-sm ml-2">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>